@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer components {
  .link {
    @apply text-blue-500 text-xl text-center cursor-pointer hover:underline;
  }

  .div-col {
    @apply flex flex-col items-center justify-center gap-8
  }

  .div-row {
    @apply flex flex-row items-center justify-center gap-8
  }

  .p {
    @apply text-sm text-slate-900 text-center
  }

  .h1 {
    @apply text-4xl text-slate-900 text-center
  }

  .h2 {
    @apply text-3xl text-slate-900 text-center
  }

  .h3 {
    @apply text-2xl text-slate-900 text-center
  }

  .h4 {
    @apply text-xl text-slate-900 text-center
  }

  .h5 {
    @apply text-lg text-slate-900 text-center
  }

  .btn {
    @apply px-4 py-3 bg-slate-900 text-white text-center rounded-xl shadow-md shadow-black cursor-pointer hover:underline hover:bg-slate-700 active:scale-105;
  }

  .btn-success {
    @apply px-4 py-3 bg-green-500 text-white text-center rounded-xl shadow-md shadow-black cursor-pointer hover:underline hover:bg-green-400 active:scale-105;
  }

  .btn-error {
    @apply px-4 py-3 bg-red-500 text-white text-center rounded-xl shadow-md shadow-black cursor-pointer hover:underline hover:bg-red-400 active:scale-105;
  }

  .btn-primary {
    @apply px-4 py-3 bg-sky-500 text-white text-center rounded-xl shadow-md shadow-black cursor-pointer hover:underline hover:bg-sky-400 active:scale-105;
  }

  .input {
    @apply px-4 py-3 bg-white text-slate-950 text-center rounded-xl shadow-md shadow-black hover:bg-slate-300 border-2 border-solid border-slate-500;
  }
}